.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav p {
  color: white;
  font-family: helvetica;
}

.nav p:hover {
  background-color: #494d54;
  width: 500%;
}

.nav span {
  color: rgb(185, 184, 184);
  font-family: helvetica;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.mobileNav {  

  animation: .5s ease-out 0s 1 slideInFromRight;
  
  background: #333;
  padding: 30px;
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hideNav {  
  right: -100%;
  animation: .5s ease-out 0s 1 slideOutToRight;
  
  background: #333;
  padding: 30px;
}

.contentFont {
  font-family: Cochin;
}

.blinkMe {
  animation: blinker 1s steps(2) infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
}